body {
    background-color: #111;
    font-family: sans-serif;
}

#heading {
    color: whitesmoke;
    text-align: center;
    margin: 20px;
}

.main-container {
    width: 1000px;
    margin: auto;
}

.movie-row {
    display: flex;
    justify-content: space-between;
    margin-left: 80px;
    margin-right: 80px;
}

.movie-card {
    height: 290px;
    margin-bottom: 10px;
    /* border: 1px dashed white; */
}

.movie-card img {
    height: 230px;
    pointer-events: none;
}

.icons-section {
    display: flex;
    justify-content: space-around;
    margin-top: 15px;
}

.hidden {
    visibility: hidden;
}

.glow {
    box-shadow: 2px 2px 20px 20px black;
}